@import "../scss/variables";

.Navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .container {
    max-width: 1200px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .NavbarBrand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
  }

  .NavbarToggleBtn {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;

    &:focus {
      text-decoration: none;
      outline: 0;
      box-shadow: 0 0 0 0.25rem;
    }

    .NavBarToggleIcon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }

  .NavBarCollapse {
    width: 100%;
    display: none;
  }

  .NavBarSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    .formControl {
      background-color: $black;
      border: 1px solid #444d56;
      color: #fff;
      width: 100%;
      &:focus {
        color: $gray-900;
        background-color: $white;
        border: none;
        box-shadow: none;
      }
    }
  }

  .NavbarNav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-right: auto;
  }

  .NavbarNavItem {
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;
    cursor: pointer;
  }

  .NavbarUser {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0.5rem 0;
    > a {
      color: #fff;
    }
  }
}

@media (min-width: $break-point) {
  .Navbar {
    flex-wrap: nowrap;
    justify-content: flex-start;

    .NavbarToggleBtn {
      display: none;
    }

    .NavBarCollapse {
      display: flex !important;

      .NavbarNav {
        flex-direction: row;
      }

      .NavbarNavItem {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }

    .NavBarSearch {
      margin-right: 1rem;
      margin-top: 0;
    }
    .NavBarSearch .formControl {
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, width 0.2s ease;
      width: 10rem;
      &:focus {
        color: $gray-900;
        background-color: $white;
        border: none;
        box-shadow: none;
        width: 300px;
      }
    }
  }
}

// light theme
.Navbar.light {
  background-color: $light;

  .NavbarToggleBtn {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
  }

  .NavbarNavItem {
    color: rgba(0, 0, 0, 0.55);

    &.active {
      color: rgba(0, 0, 0, 0.9);
    }
  }
}

// dark theme
.Navbar.dark {
  background-color: $black;
  .NavbarBrand {
    color: #fff;
  }

  .NavbarToggleBtn {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.1);
  }

  .NavBarToggleIcon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .NavbarNavItem {
    color: rgba(255, 255, 255, 0.5);

    &.active {
      color: $gray-100;
    }
  }
}

// dark blue theme
.Navbar.dark.blue {
  background-color: $blue;
}
