@import "../scss/variables";

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .container {
    max-width: 1200px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
  }

  .toggleBtn {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;

    &:focus {
      text-decoration: none;
      outline: 0;
      box-shadow: 0 0 0 0.25rem;
    }

    .toggleIcon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }

  .collapse {
    width: 100%;
    display: none;
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    position: relative;

    .icon {
      position: absolute;
      left: .5rem;
      top: 50%;
      transform: translateY(-50%);
      color: $gray-600;
    }

    .formControl {
      background-color: $black;
      border: 1px solid #444d56;
      color: #fff;
      width: 100%;
      padding-left: 2rem;

      &:focus {
        color: $gray-900;
        background-color: $white;
        border: none;
        box-shadow: none;
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-right: auto;
  }

  .navItem {
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;
    cursor: pointer;
  }

  .more {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 0.5rem 0;

    .notifications {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    > a {
      display: block;
      padding: 0.5rem 0;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@media (min-width: $break-point) {
  .navbar {
    flex-wrap: nowrap;
    justify-content: flex-start;

    .toggleBtn {
      display: none;
    }

    .collapse {
      display: flex !important;

      .nav {
        flex-direction: row;
      }

      .navItem {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }

    .search {
      margin-right: 1rem;
      margin-top: 0;
      .formControl {
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, width 0.2s ease;
        width: 10rem;
        &:focus {
          color: $gray-900;
          background-color: $white;
          border: none;
          box-shadow: none;
          width: 300px;
        }
      }
    }

    .more {
      flex-direction: row;
      padding: 0;
      justify-content: center;
      align-items: center;
      > * {
        margin-left: 0.5rem;
      }
    }
  }
}

// light theme
.navbar.light {
  background-color: $light;

  .toggleBtn {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
  }

  .navItem {
    color: rgba(0, 0, 0, 0.55);

    &.active {
      color: rgba(0, 0, 0, 0.9);
    }
  }

  .search {
    .formControl {
      background-color: #fff;
      &:focus {
        border: 1px solid #444d56;
      }
    }
  }
}

// dark theme
.navbar.dark {
  background-color: $black;
  .brand {
    color: #fff;
  }

  .toggleBtn {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.1);
  }

  .toggleIcon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navItem {
    color: rgba(255, 255, 255, 0.5);

    &.active {
      color: $gray-100;
    }
  }

  .more {
    > a {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
