@import "~rfs/scss";

.QuestionComponent {
  background-color: #fff;
  padding: 1rem;

  .title {
    display: inline-block;
    margin: 0 0 0.5rem 0;
    cursor: pointer;
    text-decoration: none;
    @include rfs("1.5rem", "font-size");
  }

  .meta {
    display: flex;
    .user {
      margin: 0 0.5rem 0 0;
      cursor: pointer;
    }
    .updatedAt {
      @include rfs("1rem", "font-size");
      opacity: 0.7;
    }
  }

  .tags {
    margin: 0.5rem 0;
  }

  .description {
    margin: 0.5rem 0 0.5rem 0;
  }

  .actions {
    display: flex;
    justify-content: flex-start;
  }
}
