@import "~bootstrap/scss/bootstrap-reboot.scss";
@import "variables";
@import "button";
@import "form";
@import "tag";
@import "skeleton";
@import "~rfs/scss";

.HeadLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.375rem 0;

  .title {
    @include rfs(1.3rem, "font-size");
  }

  .more {
    text-decoration: none;
  }
}
