@import "~bootstrap/scss/bootstrap-reboot.scss";
@import "colors";
@import "button";
@import "form";

@import "~rfs/scss";

.HeadLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .375rem 0;

  .title {
    @include rfs(1.3rem, 'font-size');
  }

  .more {
    text-decoration: none;
  }
}
