@import "../../scss/variables";

.SettingsIndex {
  display: grid;

  .menu {
    margin: 0;
    padding: 0;
    position: relative;
    > li {
      text-align: center;
      list-style: none;
      border: 1px solid #ddd;
      border-bottom: none;
      padding: 0.3rem 1rem;
      cursor: pointer;
      position: relative;
      &.selected {
        &::before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 2px;
          content: "";
          background-color: $primary;
        }
      }
    }
    > li:last-child {
      border-bottom: 1px solid #ddd;
    }
  }

  @media (min-width: $break-point) {
    grid-template-columns: 230px auto;
    grid-gap: 1rem;
  }
}
